New job posted!

<%= @job.title %>

<%= if @job.approved do %>
  You can manage the job here:
<% else %>
  You must approve the job before it's listed publicly:
<% end %>

<%= admin_job_url(Community.Endpoint, :show, @job) %>

Thanks!
