Someone sent you a message from the Triangle Designers contact form!

Sent from: <%= @from %>

Message:
<%= @body %>

---
Your email address has not been exposed to the sender.
You can reply directly to this email, which will reveal your email address to them.
