Someone sent you a message from the Raleigh Design contact form!

Sent from: <%= @from %>

Message:
<%= @body %>

Right now, your email address has not been exposed to the sender.
If you reply to this email, your email addresss will be revealed to them.
