You posted a job!

<%= unless @job.approved do %>
  It's hidden for now, but will go live once an admin approves it.
<% end %>

Title: <%= @job.title %>

You can edit or delete your job at any time using the link below.

<%= job_url(Community.Endpoint, :show, @job, token: @job.token) %>

Thanks!
