Thanks for signing up!

<%= unless @member.approved do %>
  Your profile is hidden for now, but will go live once an admin approves it.
<% end %>

You can edit or delete your profile at any time using the link below.

<%= member_url(Community.Endpoint, :edit, @member, token: @member.token) %>
