<footer class="site-footer">
  <p>
    <%= @organization.name %> is designed by
    <a href="http://twitter.com/jchreu">@jchreu</a> and supported
    by <%= @organization.sponsers %>.
  </p>
  <p>
    Need some help? Email
    <a href="mailto:<%= @organization.admin_email_address %>"><%= @organization.admin_email_address %></a>.
  </p>
</footer>
