<footer class="container narrow-container site-footer">
  <p>
    Raleigh Design is maintained by
    <a href="http://twitter.com/jchreu">@jchreu</a>, and supported by
    <a href="http://thoughtbot.com/raleigh">thoughtbot</a>.
  </p>
</footer>
