<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A resource for designers throughout North
    Carolina's Triangle to stay connected and find prospective career
    opportunities">

    <title>Triangle Designers</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%= render Community.SharedView, "typekit.html" %>
  </head>

  <body class="<%= Brady.body_class @conn %>">
    <%= render Community.SharedView, "flashes.html", conn: @conn %>
    <div class="container">
      <%= render Community.SharedView, "site_header.html", conn: @conn %>
      <%= render @view_module, @view_template, assigns %>
      <%= render Community.SharedView, "site_footer.html" %>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= render Community.SharedView, "segment.html" %>
  </body>
</html>
