<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Raleigh Design</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="<%= Brady.body_class @conn %>">
    <%= render Community.SharedView, "flashes.html", conn: @conn %>
    <div class="container">
      <header class="site-header">
        <h1 class="site-header-title">
          <a href="/" class="site-header-title-link" style="background-image: url('<%= find_organization().logo_url %>')">Raleigh Design</a>
        </h1>
        <nav role="navigation" class="site-navigation">
          <%= render Community.SharedView, "_navigation.html", conn: @conn %>
        </nav>
      </header>

      <%= render @view_module, @view_template, assigns %>
      <%= render "_footer.html" %>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= render Community.SharedView, "tracking.html" %>
  </body>
</html>
