<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Community!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="landing-header">
        <nav role="navigation" class="landing-navigation">
          <%= render Community.SharedView, "_navigation.html", conn: @conn %>
        </nav>
        <h1 class="landing-header-title">
          <%= Community.SharedView.svg("landing-logo") %>
        </h1>
        <h2 class="landing-header-subtitle">
          A resource for designers in Raleigh
          to stay connected, learn about upcoming events, and find prospective
          career opportunities.
        </h2>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <%= render "_footer.html" %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
