<div class="container medium-container">
  <h3 class="page-description">Add yourself to the directory.</h3>
  <%= render "form.html", changeset: @changeset, conn: @conn, path: member_path(@conn, :create) %>
</div>
