html {
  @include media($wide-screen) {
    background-image: linear-gradient($purple, $light-blue);
    padding: $large-spacing;
  }
}

body {
  background-color: $body-background-color;
  box-shadow: $base-box-shadow;

  @include media($wide-screen) {
    border-radius: $base-border-radius;
    min-height: 100vh;
  }
}
