html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $alabaster;
  border: 1em solid $white;
  box-shadow: inset 0 0 0 1px $dark-border-color;
  min-height: 100vh;
}
