// Typography
$font-stack-system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$base-font-family: $font-stack-system;
$heading-font-family: "freight-text-pro", $font-stack-georgia;

// Font Sizes
$base-font-size: 1em;
$small-font-size: 0.875em;
$x-small-font-size: 0.8125em;
$large-font-size: 1.25em;
$x-large-font-size: 1.75em;

// Line height
$base-line-height: 1.6;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$x-small-spacing: $small-spacing / 2;
$large-spacing: $base-spacing * 2;
$x-large-spacing: $large-spacing * 2;
$base-z-index: 0;

// Colors
$alabaster: #f5f7f9;
$blue: #2474d9;
$light-blue: #519cf2;
$dark-gray: #3f4044;
$light-gray: #eee;
$medium-gray: #999;
$pearl-lusta: #f8f1d0;
$purple: #6d78e2;
$red: #f85766;
$white: #fff;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;
$light-font-color: rgba($base-font-color, 0.75);
$lighter-font-color: rgba($base-font-color, 0.5);

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$dark-border-color: shade($base-border-color, 6%);
$dark-border: 1px solid $dark-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Alert Colors
$alert-background-color: $pearl-lusta;
$alert-border-color: shade($alert-background-color, 10%);
$alert-color: shade($alert-background-color, 60%);

$error-background-color: $red;
$error-border-color: shade($error-background-color, 10%);
$error-color: $white;

// Box shadows:
$base-box-shadow: 0 15px 35px rgba($base-font-color, 0.1), 0 5px 15px rgba(#000, .07);

// Forms
$form-box-shadow: inset 0 1px 1px rgba(#000, 0.06);

// Animations
$base-duration: 150ms;
$base-timing: ease;
