// Typography
$font-stack-system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$base-font-family: $font-stack-system;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$small-font-size: 0.875em;
$x-small-font-size: 0.8125em;
$large-font-size: 1.25em;
$x-large-font-size: 1.5em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;
$x-large-spacing: $large-spacing * 2;
$base-z-index: 0;

// Colors
$blue: #2474d9;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$almost-white: #fafafa;
$white: #fff;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;
$light-font-color: rgba($base-font-color, 0.75);
$lighter-font-color: rgba($base-font-color, 0.5);

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$light-border-color: lighten($light-gray, 5%);
$light-border: 1px solid $light-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 1px rgba(#000, 0.06);

// Animations
$base-duration: 150ms;
$base-timing: ease;
