<div class="container medium-container">
  <%= render(
      "form.html",
      conn: @conn,
      changeset: @changeset,
      submit_text: gettext("Save"),
      path: job_path(@conn, :update, @changeset.data.id, token: @token)
  )%>
</div>
