<p class="page-description">
  A resource for designers in Raleigh to find prospective
  career opportunities. Follow along on twitter,
  <a href="http://twitter.com/raleighdesign">@raleighdesign</a>.
</p>

<%= render "job_list.html", jobs: @jobs, conn: @conn %>
