.app-navigation {
  li {
    display: inline-block;

    + li {
      margin-left: $base-spacing;
    }
  }

  a {
    color: $light-font-color;
    font-size: $small-font-size;
    text-transform: uppercase;
  }
}
