.dribbbles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dribbble {
  @include omega(2n);
  @include span-columns(6);
  margin-bottom: $base-spacing;
}

.dribbble-link {
  display: block;

  &:hover,
  &:focus {
    opacity: 0.9;
  }
}

.dribbble-img {
  display: block;
}
