.dribbbles {
  display: grid;
  grid-gap: $small-spacing;
  grid-template-columns: 1fr 1fr;
}

.dribbble-link {
  display: block;

  &:hover,
  &:focus {
    opacity: 0.9;
  }
}

.dribbble-img {
  display: block;
}
