.job-slat {
  @include padding($base-spacing null);
  border-bottom: $base-border;
  display: flex;
}

.job-slat-hgroup {
  flex: 1;
}

.job-slat-title {
  font-size: $large-font-size;
  font-weight: 400;
  margin-bottom: $x-small-spacing;
}

.job-slat-company {
  color: $light-font-color;
  margin-bottom: 0;
}

.job-slat-city {
  color: $light-font-color;
}
