.job-slat {
  @include padding($small-spacing null);
  display: flex;

  &:not(:last-child) {
    border-bottom: $base-border;
  }
}

.job-slat-hgroup {
  flex: 1;
}

.job-slat-title {
  font-weight: 400;
  margin-bottom: $x-small-spacing;
}

.job-slat-company {
  color: $light-font-color;
  font-size: $small-font-size;
  margin-bottom: 0;
}

.job-slat-city {
  color: $light-font-color;
}
