.meetup-slat {
  @include padding($small-spacing null);
  display: none;

  &:not(:last-child) {
    border-bottom: $base-border;
  }
}

.meetup-title {
  font-weight: 400;
}

.meetup-name {
  font-size: $x-small-font-size;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
