.person-card {
  @include padding($small-spacing null);
  display: flex;

  &:not(:last-child) {
    border-bottom: $base-border;
  }
}

.person-card-body {
  width: 100%;
}

.person-card-image {
  @include size($large-spacing);
  display: block;
  margin-right: $small-spacing;
}

.person-card-name {
  margin-bottom: $small-spacing / 3;
}

.person-card-job {
  color: $light-font-color;
}

.person-card-social-items {
  display: flex;
}

.person-card-social-item {
  margin-left: $small-spacing;
}

.person-card-social-link  {
  color: $lighter-font-color;

  &:hover,
  &:focus {
    color: $action-color;
  }

  svg {
    @include size(1em);
    fill: currentColor;
  }
}
