.section {
  margin-bottom: $large-spacing;
}

.section-header {
  margin-bottom: $base-spacing;

  p {
    color: $light-font-color;
    margin-bottom: 0;
  }
}

.section-header-action {
  display: inline-block;
  font-weight: 600;
  margin-top: $small-spacing;
}

.section-content {
  @include margin(null (-$small-spacing));
  background-color: $base-background-color;
  padding: $small-spacing;
  box-shadow: $base-box-shadow;
}
