.section {
  display: flex;
  margin-bottom: $large-spacing * 2;

  & + & {
    border-top: $base-border;
    padding-top: $large-spacing;
  }
}

.section-description {
  margin-right: $large-spacing * 2;
  max-width: 20em;

  p {
    color: $light-font-color;
    font-size: $small-font-size;
  }
}

.section-content {
  flex: 1;
}
