.site-footer {
  padding-bottom: $large-spacing;
  text-align: center;

  svg {
    @include size($large-spacing);
    margin-bottom: $small-spacing;
  }

  p {
    color: $lighter-font-color;
    font-size: $x-small-font-size;
  }

  a {
    color: $light-font-color;

    &:hover,
    &:focus {
      color: $action-color;
    }
  }
}
