.site-navigation {
  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $small-spacing;
    }
  }

  a {
    color: $lighter-font-color;
    display: inline-block;
    font-size: $small-font-size;
    font-weight: 600;

    &:hover,
    &:focus {
      color: $action-color;
    }
  }
}

.home-page .home-link,
.job .jobs-link,
.member .members-link {
  color: $base-font-color;
}
