.site-navigation {
  margin-bottom: $base-spacing;
  text-align: center;

  li {
    display: inline-block;
  }

  a {
    color: $lighter-font-color;
    display: inline-block;
    font-size: $small-font-size;
    font-weight: 600;
    padding: $small-spacing;

    &:hover,
    &:focus {
      color: $action-color;
    }
  }
}

.home-page .home-link,
.job .jobs-link,
.member .members-link {
  color: $action-color;
}
