.site-navigation {
  margin-bottom: $x-large-spacing;
  margin-top: $base-spacing;
  text-align: center;

  li {
    display: inline-block;
  }

  a {
    color: $lighter-font-color;
    display: inline-block;
    font-size: $x-small-font-size;
    font-weight: 600;
    padding: $small-spacing;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $action-color;
    }
  }
}
