.site-header {
  @include padding($large-spacing null);
  text-align: center;

  @include media($large-screen-up) {
    @include padding($x-large-spacing null);
  }

  @include media($wide-screen) {
    padding-top: $x-large-spacing * 1.5;
  }
}

.site-header-title-link {
  @include margin(null auto);
  @include hide-text;
  @include size(247px, 45px);
  background-image: url("/images/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  transition: opacity 0.15s ease-in;

  @include media($large-screen-up) {
    @include size(370px, 68px);
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
