.site-footer {
  @include padding($large-spacing null);
  margin-top: $x-large-spacing;

  p {
    color: $lighter-font-color;
    font-size: $x-small-font-size;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $light-font-color;

    &:hover,
    &:focus {
      color: $action-color;
    }
  }
}
