<section class="section">
  <div class="section-description">
    <h4>Job Board</h4>
    <p>
      Design jobs local to Raleigh, North Carolina. Positions include graphic
      and visual design, interface design, and everything under the UX
      umbrella. Work locally!</p>
    <a href="/jobs/new" class="appended-link">Post a Job for Free &rarr;</a>
  </div>

  <%= render Community.JobView, "job_list.html", jobs: @jobs, conn: @conn %>
</section>
