<p class="page-description">
  A resource for designers in Raleigh to stay connected and find prospective
  career opportunities. Follow along on twitter,
  <a href="http://twitter.com/raleighdesignio">@raleighdesignio</a>.
</p>

<%= render "recent_jobs.html", jobs: @jobs, conn: @conn %>

<%= render "recent_dribbbles.html", conn: @conn %>

<%= render "recent_meetups.html" %>
