<p class="page-description">
  <%= @organization.short_description %>
  Follow along on twitter, <a href="https://twitter.com/<%= @organization.twitter %>">@<%= @organization.twitter %></a>.
</p>

<%= render "recent_jobs.html", jobs: @jobs, conn: @conn %>

<%= render "recent_dribbbles.html", conn: @conn, organization: @organization %>

<%= render "upcoming_meetups.html", organization: @organization %>
