<%= if display_errors?(@form) do %>
  <div class="alert alert-danger">
  <p>Oops, something went wrong! Please check the errors below:</p> <ul>
    <%= for {key, {value, _}} <- @form.errors do %>
      <li data-role="error"><%= humanize(key) %> - <%= value %></li>
    <% end %>
  </div>
<% end %>
