<footer class="site-footer container">
  <a href="https://github.com/thoughtbot/community">
    <%= Community.SharedView.svg("github") %>
  </a>
  <p>
    Be the change you'd like to see and contribute on
    <a href="https://github.com/thoughtbot/community">GitHub</a>.
  </p>
</footer>
